<div class="shuffle">
	<ul>
		<li class="word"><h2 id="word1">ORGANIZE</h2></li>
		<li class="word"><h2 id="word2">BETTER</h2></li>
		<li class="word"><h2 id="word3">FASTER</h2></li>
		<li class="word"><h2 id="word4">EASIER</h2></li>
	</ul>

	<h2>with Task Tracker</h2>
</div>