<h1>New Project!</h1>

<form>
	<label for="title-input">Project Name</label>
	<input type="text" id="title-input">

	<input type="text" id="description-input" 
					value="Description">

	<button id="create">Create Project</button>
</form>