<div class="project-index-background panel panel-default">
	<div class="panel-heading">
		<h3>Projects</h3>
		<div class="add-project-link">
			<span class="glyphicon glyphicon-plus"></span>
			<a href="#/projects/new" class="create-project">Create Project</a></div>
	</div>
	<table class="table">
		<% projects.each(function(project) { %>
			<tr>
				<td>
					<div class="project-divider">
					<a class="project-name-link" href="#/projects/<%= project.id %>"><%= project.escape('title') %></a>
				</div>
				</td>
			</tr>
		<% }) %>
	</table>
</div>


<div class="project-modal modal modal-fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Create New Project</h4>
			</div>
			<div class="modal-body"></div>

		</div>
	</div>
</div>