<div class="panel panel-default">
	<div class="panel-heading">
		<h3>Projects</h3>
	</div>
	<table class="table">
		<tr>
			<th><a href="#/projects/new" class="create-project">Create Project</a></th>
		</tr>
		<% projects.each(function(project) { %>
			<tr>
				<td>
					<a href="#/projects/<%= project.id %>"><%= project.escape('title') %></a>
				</td>
			</tr>
		<% }) %>
	</table>
</div>


<div class="project-modal modal modal-fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Create New Project</h4>
			</div>
			<div class="modal-body"></div>

		</div>
	</div>
</div>