<div class="page-header">
	<h3><%= project.escape('title') %></h3>
</div>


<div class="tracker-container well well-lg">
	<div class="tracker-box panel panel-default">
		<div class="panel-heading"></div>
		<div class="panel-body" id="done-box"> </div>
	</div>
	<div class="tracker-box panel panel-default">
		<div class="panel-heading"></div>
		<div class="panel-body" id="current-box" > </div>
	</div>
	<div class="tracker-box panel panel-default">
		<div class="panel-heading"></div>
		<div class="panel-body" id="backlog-box"> </div>
	</div>
	<div class="tracker-box panel panel-default">
		<div class="panel-heading"></div>	
		<div class="panel-body" id="icebox-box"> </div>
	</div>
</div>
