<div class="project-page">
	<div class="modal modal-fade" id="projectShowModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Welcome To Your Project Page!</h4>
				</div>
				<div class="modal-body">
					<p>Take this short journey to see what Task Tracker is all about.</p>

					<p>This tutorial provides a step-by-step guide to Task Tracker, beginning with Step 1 in the Icebox. Go ahead and press the orange window icon in the left-hand corner of each task for a description of the feature. And feel free to experiment along the way!</p>

					<div class="modal-footer">
						<button class="btn btn-default close-modal" data-dismiss="modal">Let's Go!</button>
					</div>
				</div>
			</div>
		</div>
	</div>

		<div id="sidebar-wrapper" class="sidebar-nav">
			<div class="sidebar-brand">
				<h3 id="show-greeting"><%= project.escape('title') %></h3>
			</div>

			<div class="list-group-item add-story-sidebar">
				<span class="glyphicon glyphicon-plus	"></span>
				<a href="#">Add Story</a>
			</div>

			<ul class="sidebar-list list-group">
				<li class="list-group-item"> 
					<span class=" glyphicon glyphicon-ok"></span>
					<a href="#" class="tracker-btn" id="t-done">Done</a>
				</li>
				<li class="list-group-item">
					<span class="glyphicon glyphicon-list"></span>
					<a href="#" class="tracker-btn" id="t-current">Current</a>
				</li>	
				<li class="list-group-item">
					<span class="glyphicon glyphicon-list"></span>
					<a href="#" class="tracker-btn" id="t-backlog">Backlog</a>
				</li>
				<li class="list-group-item">
					<span class="glyphicon glyphicon-star"></span>
					<a href="#" class="tracker-btn" id="t-icebox">Icebox</a>
				</li>	
			</ul>
		</div>

	<div class="tracker-box row" id="page-content-wrapper">

	</div>
</div>
