	<div id="sidebar-wrapper">
		<ul class="sidebar-nav">
			<li class="sidebar-brand ">
				<h3 id="show-greeting"><%= project.escape('title') %></h3>
			</li>
			<li><a href="#" class="add-story">Add Story</a></li>
			<li><a href="#" class="tracker-btn" id="done">Done</a></li>
			<li><a href="#" class="tracker-btn" id="current">Current</a></li>	
			<li><a href="#" class="tracker-btn" id="backlog">Backlog</a></li>
			<li><a href="#" class="tracker-btn" id="icebox">Icebox</a></li>	
		</ul>
	</div>

<div class="tracker-box row" id="page-content-wrapper">
	<div class="tracker-display">

	</div>

</div>

