<div class="page-header">
	<h3><%= project.escape('title') %></h3>
</div>


<div class="tracker-container well well-lg">
	<div class="tracker-box" id="done-box panel panel-default">
		<div class="panel-heading"></div>
		<div class="panel-body"> </div>
	</div>
	<div class="tracker-box" id="current-box panel panel-default">
		<div class="panel-heading"></div>
		<div class="panel-body"> </div>
	</div>
	<div class="tracker-box" id-"backlog-box panel panel-default">
		<div class="panel-heading"></div>
		<div class="panel-body"> </div>
	</div>
	<div class="tracker-box" id="icebox-box panel panel-default">
		<div class="panel-heading"></div>	
		<div class="panel-body"> </div>
	</div>
</div>
