<div id="welcomepage">

		<div class="shuffle">
			<div class="shuffle-words word1">
				<h1>BUILD</h1></div>
			<div class="shuffle-words word2">
				<h1>PROJECTS</h1></div>
			<div class="shuffle-words word3">
				<h1>FASTER</h1></div>
			<div class="shuffle-words word4">
				<h1>BETTER</h1></div>
		</div>

<div class="carousel-background">
<!-- Carousel -->
	<div id="carousel-frontpage" class="carousel slide" data-ride="carousel">
	<!--   Indicators -->
	  <ol class="carousel-indicators">
	    <li data-target="#carousel-frontpage" data-slide-to="0" class="active"></li>
	    <li data-target="#carousel-frontpage" data-slide-to="1"></li>
	    <li data-target="#carousel-frontpage" data-slide-to="2"></li>
	  </ol>

<!-- 	  Wrapper for slides -->
		<div class="carousel-inner">
	    <div class="item active">
	    	<img src="assets/dashboard.png">
	    </div> 
	    <div class="item">
	    	<img src="assets/full-project-show.png">
	    </div> 
	    <div class="item">
	    	<img src="assets/create-story.png">
	    </div> 
	  </div>

	 <!--  Controls -->
	  <a class="left carousel-control" href="#carousel-frontpage" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left"></span>
	  </a>
	  <a class="right carousel-control" href="#carousel-frontpage" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right"></span>
	  </a>
		</div>
	</div>
</div>
 
<script type="text/javascript">

	document.addEventListener('DOMContentLoaded', function() {
		var $build = $('.word1');
		var $software = $('.word2');
		var $faster = $('.word3');
		var $better = $('.word4');

		var shuffleWords = function() {
		// slide up "better"
			setTimeout(function(){
				$better.addClass('slide2');
			}, 2000);
			// slide down "software & "better" to make room
			setTimeout(function() {
				$software.addClass('slide3');
				$faster.addClass('slide4');
			},2800);

			// slide up "faster" (switch places with "software")
			setTimeout(function() {
				$faster.addClass('slide2');
				$faster.removeClass('slide4');
			},8000);

			// slide down "software" (switch places with "faster")
			setTimeout(function() {
				$software.addClass('slide4');
				$software.removeClass('slide3');
			},8100);

			// slide down "better"
			setTimeout(function() {
				$better.addClass('slide3');
				$better.removeClass('slide2');
			}, 8900)

			setTimeout(function() {
				$('.shuffle-words')
							.removeClass('slide1 slide2 slide3 slide4')
				shuffleWords();
			}, 15000);
	}

	shuffleWords();
});


</script>

