<div id="welcomepage">

		<div class="shuffle">
			<ul class="list-group ">
				<li class="word list-group-item">
					<h2 id="word1"> BUILD </h2>
				</li>
				<li class="word list-group-item">
					<h2 id="word2">BETTER</h2>
				</li>
				<li class="word list-group-item">
					<h2 id="word3">FASTER</h2>
				</li>
				<li class="list-group-item"><h2>SOFTWARE</h2></li>
			</ul>
		</div>

</div>



