<div class="auth-form col-md-6 col-md-offset-4">
	<div class="dialog-box">
		<h2 class="auth-title">Sign In</h2>

		<form action="<%= session_url %>" method="post">
			<input type="hidden" name="authenticity_token"
						 value="<%= form_authenticity_token %>">

			<input name="user[email]" type="text" class="form-control"
						 placeholder="Email"><br>

			<input name="user[password]" type="password" class="form-control" placeholder="password"><br>

			<button type="button submit" class="btn btn-primary">Sign In</button>
		</form>
	</div>
	
	<% content_for :auth_button do %>
		<div class="entry-link">
			<%= link_to "Sign Up", new_user_url, method: :get%>
		</div>
	<% end %>
</div>