<form class="form">
	<div class="form-group">
		<textarea class="form-control"></textarea>
	</div>
	<button class="btn btn-success create">Create New Tracker</button>
	<a href="#" class="close close-lg">close</a>
</form>