<% if(tracker.attributes.title == "icebox") { %>
	<button class="add-story">Add Story</button>
<% } %>

<div class="col-md-4 panel panel-default active" id="<%= tracker.escape('title') %>" data-tracker-id="<%= tracker.escape('id') %>">
	<div class="panel-heading">
		<h5 class="panel-title"><%= tracker.escape('title') %></h5>
	</div>
	<div class="story-form"></div>
	<div class="panel-body story-box">
		<div class="story-wrapper"></div>
	</div>
</div>

