<div class="signup-box">
	<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">Start Using Tracker</h4>
	</div>
	<div class="modal-body">
		<form role="form" action="<%= users_url %>" method="post">
			<input type="hidden" name="authenticity_token"
						 value="<%= form_authenticity_token %>">
			<div class="form-group">
				<label for="name-input">Enter Your Name</label>
				<input name="user[name]" type="text" class="form-control"
							 placeholder="Name" id="name-input">
			</div>
			<div class="form-group">
				<label for="email-input">Email Address</label>
				<input name="user[email]" type="text" class="form-control"
							 placeholder="Email" id="email-input">
			</div>
			<div class="form-group">
				<label for="password-input">Enter a Password</label>
				<input name="user[password]" type="password" class="form-control" placeholder="Password" id="password-input">
			</div>
	</div>
	<div class="modal-footer">
			<button type="submit" class="btn btn-primary">Get Started</button>
	</div>
		</form>
	</div>
</div>

<% content_for :auth_button do %>
	<div class="entry-link">
		<%= link_to "Sign In", new_session_url, method: :get %>
	</div>
<% end %>