<form class="form">
	<div class="form-group">
		<input type="text" id="story-title" class="form-control" placeholder="title">
		<textarea id="description" class="form-control" placeholder="description"></textarea>
	</div>
	<button class="btn btn-success create">Add Story</button>
	<a href="#" class="close close-sm">&times;</a>
</form>