<h1>Create Story</h1>

<form>

	<label for="story-title-input">TITLE</label>
	<input id="story-title-input" type="text">

	<label for="story-desc-input">DESCRIPTION</label>
	<textarea id="story-desc-input"></textarea>

	<button id="create-story"></button>
</form>