.project-board{
	float: left;
	height: 138px;
	width: 436px;
	background: white
}

.projects-index {
	margin-top: 50px;
}

#dashboard-greeting {
	display: inline
}

button.destroy {
	text-align: center;
	float: right;
	display: inline
}

.project-title {
	display: inline
}
