.projects-index {
	top: 20px;
	margin: 45px 30px;
	height: 100%;
	width: 100%;
}

.project-board{
	float: left;
	height: 138px;
	width: 436px;
	background: white;
	margin: 10px;

	-webkit-box-shadow: 2px 0px 12px 2px rgba(2,0,10,1);
	-moz-box-shadow: 2px 0px 12px 2px rgba(2,0,10,1);
	box-shadow: 2px 0px 12px 2px rgba(2,0,10,1);
}

#dashboard-greeting {
	margin-right: 5px;
	display: inline;
	color: #E6B15B;
	font-size: 54px;

 -webkit-text-stroke-width: 1px;
 -webkit-text-stroke-color: #000636;
	font-weight: bold;

}

button.destroy {
	text-align: center;
	float: right;
	display: inline
}

.project-title {
	display: inline
}

.dashboard-header {
	margin-bottom: 20px;	
	margin-left: 40%;

}

#all-projects {
	margin: 15px;
	color: #21608A;
}

#create-project {
	margin-left: 150px;
	color: white;
	font-weight: normal;
	background-color: #21608A;
	border-bottom-color: #12354C;
	border-radius: 5px;
	border-bottom-width: 3px;

}