
// Project Show

.project-show.page-header {
	background-color: #eeeeee;
	height: 50px;
	width: 100%;
	padding-left: 10px;
}

#sidebar-wrapper {
	float: left;
	height: 100%;
	min-height: 800px;
	width: 160px;
	background-color: #303333;
	border-radius: 5px;
	padding: 3px;
	margin-right: 2px;
	display: inline-block;
}

.tracker-box {
	margin-top: 75px;
}

.sidebar-brand {
	background-color: #787878;
	display: inline-block;
	width: 100%;
	padding: 8px;
	text-align: center;

	#show-greeting {
		color: white;
		margin: 0px;
	}
}

.projects-index {
	margin-top: 110px;
}

.sidebar-list  {
	margin-top: 15px;

	a:hover {
		color: #DCF0FC;
		text-decoration: none;
	}
}

.add-story-sidebar {
	background-color: rgb(31, 106, 167);
	margin-top: 5px;
	border-color: black;
	text-align: center;
	height: 60%;
	
	a {
		font-weight: bold;
		color: black;
		text-decoration: none;
	}
}

.glyphicon-plus {
	color: #F6EADF ;
	height: 70%;
	margin-right: 5px;
}

.add-story-sidebar:hover {
	background-color: #2FA2FF;

	a {
		color: #DCF0FC
	}

}

.sidebar-list {

	li {
		background-color: #303333;
		border-color: #1B1D1F;
	}

	span {
		margin-right: 5px;
		color: #A1A1A1;
	}
}

