
// Project Show

.tracker-container {
	background-color: white;
	position: absolute;
	margin-left: 0px;
	padding: 7px;
	height: 100%;
	width: 100%;
	overflow-x: scroll;
	overflow-y: hidden;
	vertical-align: baseline;
}

.tracker-container .panel {
	float: left;
	height: 100%;
	width: 305px;
	position: relative;
}

.tracker-box {
	padding: 0px;
	margin-left: 2px;
	margin-right: 2px
}

.tracker-box .panel-heading {
	background-color: rgb(153, 153, 153);
}

.project-show.page-header {
	background-color: #eeeeee;
	height: 50px;
	width: 100%;
}

#show-greeting{

}


#done-box, #current-box, #backlog-box, #icebox-box {
	height: 100%;
	background-color: #c2c2c2
}



