.auth-title {
	margin-bottom: 15px
}

.auth-form {
	margin-top: 100px;
	height: 800px;
}

.dialog-box {
	background-color: rgb(233, 233, 233);
	display: inline-block;
	vertical-align: baseline;
	padding: 30px 35px;
}

