.story-title {
	border: solid black 1px;
	margin-bottom: 2px;
}

button.add-story {
	float: top;
}

.story-wrapper {
	height: 100%;
	min-height: 600px;
	background-color: #bbb;
}

.story-title {
	background-color: #e4eff7;
	margin-bottom: 0px;
	min-height: 44px;
	display: block;
	text-align: center;
	border-color: white;
}