.story-title {
	border: solid black 1px;
	margin-bottom: 2px;
	color: black;
}

button.add-story {
	float: top;
}

.story-wrapper {
	height: 100%;
	min-height: 600px;
	background-color: #bbb;
}

.story-title {
	background-color: #e4eff7;
	margin-bottom: 0px;
	min-height: 44px;
	display: block;
	text-align: center;
	border-color: white;
}

.title {
	text-decoration: none;
}

.close-story-btn {
	display: inline-block;
}

.story-form {
	margin: 2px;

	-webkit-box-shadow: 3px 2px 41px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 2px 41px 2px rgba(0,0,0,0.75);
	box-shadow: 3px 2px 41px 2px rgba(0,0,0,0.75);

	background: rgba(246,234,223,1);
	background: -moz-linear-gradient(top, rgba(246,234,223,1) 0%, rgba(246,234,223,1) 33%, rgba(229,210,194,1) 51%, rgba(246,234,223,1) 71%, rgba(246,234,223,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(246,234,223,1)), color-stop(33%, rgba(246,234,223,1)), color-stop(51%, rgba(229,210,194,1)), color-stop(71%, rgba(246,234,223,1)), color-stop(100%, rgba(246,234,223,1)));
	background: -webkit-linear-gradient(top, rgba(246,234,223,1) 0%, rgba(246,234,223,1) 33%, rgba(229,210,194,1) 51%, rgba(246,234,223,1) 71%, rgba(246,234,223,1) 100%);
	background: -o-linear-gradient(top, rgba(246,234,223,1) 0%, rgba(246,234,223,1) 33%, rgba(229,210,194,1) 51%, rgba(246,234,223,1) 71%, rgba(246,234,223,1) 100%);
	background: -ms-linear-gradient(top, rgba(246,234,223,1) 0%, rgba(246,234,223,1) 33%, rgba(229,210,194,1) 51%, rgba(246,234,223,1) 71%, rgba(246,234,223,1) 100%);
	background: linear-gradient(to bottom, rgba(246,234,223,1) 0%, rgba(246,234,223,1) 33%, rgba(229,210,194,1) 51%, rgba(246,234,223,1) 71%, rgba(246,234,223,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6eadf', endColorstr='#f6eadf', GradientType=0 );

}

.delete-story {
	display: block;
	float: right;
}