.tracker-box {
	background-color: #212121;
	width: 1670px;
	overflow: visible;
	min-height: 100%;
	// display: inline-block;

	.panel-heading {
		background-color: rgb(57, 58, 60);

		.panel-title {
			color: white
		}
	}
}

.active {
	padding: 0px;
	float: left;
	width: 368px;
	margin: 0px 2px;
	height: 100%;
	border: solid black 1px;
	display: inline-block;
}

.hidden {
	display: none;
}


.add-story {
 color: white;
 float: right;
 padding: 2px;
 border: 1px black solid;

 &:hover {
 	color: #6096BD;
 	border-width: 2px;
 }
}

.tracker-title {
	display: inline-block
}

