.tracker-box {
	background-color: #212121;
	width: 1670px;
	overflow: visible;
	min-height: 100%;
	display: block;

	.panel-heading {
		background-color: rgb(57, 58, 60);

		.panel-title {
			color: white
		}
	}
}

.story-totals {
	background-color: #f6eadf;
	height: 28px;

	div.week-display {
		float: left;
		margin-left: 10px;
		p {
			margin-top: 5px;
			margin-bottom: 0;
		}
	}
	div.point-display {
		float: right;
		margin-right: 10px;
		p {
			margin-top: 5px;
			margin-bottom: 0;
		}
	}
}

div.active.panel {
	padding: 0px;
	float: left;
	width: 368px;
	margin: 0px 2px;
	height: 100%;
	border: solid black 1px;
	display: inline-block;
}

.hidden {
	display: none;
}

li.selected {
	background-color: #222424;
}


.add-story {
 color: white;
 float: right;

 &:hover {
 	color: #2B80E0;
 }
}

.tracker-title {
	display: inline-block
}

