<div class="dashboard-background col-md-5">
	<div class="dashboard-header">
		<h1 id="dashboard-greeting">Projects</h1>
		<span><a href="#/projects" id="all-projects">Show all</a></span>
		<span><a href="#/projects/new" id="create-project" class="btn btn-primary btn-xs">Create Project</a></span>
	</div>
	<div class="project-list">
		<% collection.each( function(project) { %>
			<div class="project-board panel panel-default">
			<div class="panel-heading">
				<h3 class="project-title panel-title"><a href="/#/projects/<%= project.id %>"><%= project.escape('title') %></a></h3>
				<button class="destroy btn btn-default btn-xs" data-id="<%= project.id %>">&times;</button>
			</div>
			<div class="panel-body">
			</div>
			</div>
		<% }) %>
	</div>
</div>

<div class="project-modal modal modal-fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Create New Project</h4>
			</div>
			<div class="modal-body"></div>

		</div>
	</div>
</div>


